@model M151.Data.Models.Post


<h2>UploadPost</h2>


@using (Html.BeginForm("Index", "Post", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary(true, "")
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />


    <div class="form-group">

        @Html.LabelFor(m => m.Content, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">

            @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Post" class="btn btn-default" />
        </div>
    </div>




    if (ViewBag.WasPostingSuccess == true)
    {
        <p style="background-color:lightgreen">Posting was successful</p>
    }
    else if (ViewBag.WasPostingSuccess == false)
    {
        <p style="background-color:red">Posting failed please fill out all fields</p>
    }


}

